<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <script
      src="//code.tidio.co/b9kwunz4d8dhpj4iqst2jx4iquxbxxt4.js"
      async
    ></script> -->

    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>

    <script>
      const chatbox = document.getElementById("fb-customer-chat");
      chatbox.setAttribute("page_id", "105869182480903");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          xfbml: true,
          version: "v16.0",
        });
      };

      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        
        console.log(d.getElementsByTagName(s)[0]);
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script>
<!-- 
    <div

      class="fb-customerchat"
      attribution="setup_tool"
      page_id="101318394745446"
      theme_color="#fa3c4c"
      logged_in_greeting="I am here to help you. Say hi to start a conversation!"
      logged_out_greeting="Log in and let's get everything done!"
    ></div> -->
    <center><h1>Welcome To ByteCanvas Chatbot</h1></center>
    <center><h2>Please Login to use the Chatbot</h2></center>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <center><h3>Stay Safe, and wait for our upcoming new version!!</h3></center>
    <center><h3>Thank you for visiting us!!</h3></center>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </body>
</html>
